<nav class="bottom_links">
	<ul>
		<li class="first"><a href="#">Privacy Policy</a></li>
		<li><a href="#">Terms of Use</a></li>
		<li><a href="/contactus">Contact Us</a></li>
		<li><a href="#">Ad Choices</a></li>
	</ul>
</nav>
<p class="copyright">Visit <a href="#">Small Planet Foods</a> and <a href="#">Muir Glen</a> for more wonderful organic products.<br>
Copyright ©2013&nbsp;Small Planet Foods, Inc. All rights reserved.</p>
