
		 <ul class="nav bs-sidenav">
		 	<li><a href="#">Nutritious cereals</a></li>
		 	<li><a href="#">Pulses</a></li>
		 	<li><a href="#">Spices and Condiments</a></li>
		 	<li><a href="#">Cooking Oils</a></li>
		 </ul>
